FLASK_ENV=development

# Development database
DATABASE_URL=mysql+pymysql://username:password@127.0.0.1:3306/user_center?charset=utf8mb4

# Test database
TEST_DATABASE_URL=mysql+pymysql://test_username:test_password@127.0.0.1:3306/user_center_service_test?charset=utf8mb4

JWT_SECRET_KEY=replace-with-your-secret-key

JWT_ACCESS_TOKEN_MINUTES=30
