# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
.venv/
venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Pytest
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Test Reports
# =========================
reports/
allure-results/
allure-report/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db